/*
Also copied from https://stackoverflow.com/questions/38689707/connecting-to-remote-ssh-server-via-node-js-html5-console
Credit goes to Elliot404
*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif, arial;
  font-size: 1em;
  color: #111;
  margin: 0 2%;
}

h1 {
  text-align: center;
}

#terminal-container {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 2px;
}

#terminal-container .terminal {
  /* background-color: #111; pretty useless. only disturbs the eye*/
  color: #fafafa;
  padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
  background-color: #fafafa;
}

#content > code {
  flex: 1 1 0%;
  width: 55vw;
  max-width: 1070px;
  margin: 2em 0;
}

p > code {
  overflow-wrap: break-word;
}

/*
Copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol
Credit goes to W3Schools
*/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/*
Copied from
https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip
*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 10;

}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  position: relative;
  visibility: visible;
  z-index: 1;
  padding: 0 2px;
}