/*div {
    font-size:xx-large;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

* {
    font-family: Questrial, Arial, Helvetica, sans-serif;
}

p {
    font-size:large;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 1.5em;
    line-height: 1.5;
}

button {
    font-size:x-large;
    margin: 0.5em;
}

input {
    margin: 1em 1em 0 0 ;
}

.main {
    width:50%; height: 80%; margin: 0 auto; padding: 3vh 3em;
}

.loginInput {
    margin: auto;
}